apiKey= "process.env.NEXT_PUBLIC_FIREBASE_API_KEY",
authDomain= "process.env.NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN",
projectId= "process.env.NEXT_PUBLIC_FIREBASE_PROJECT_ID",
storageBucket= "process.env.NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET",
messagingSenderId= "process.env.NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID",
appId= "process.env.NEXT_PUBLIC_FIREBASE_APP_ID"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY= "your_stripe_publishable_key"
STRIPE_SECRET_KEY= "your_stripe_secret_key"
FIREBASE_SERVICE_ACCOUNT_KEY= "your-firebase-service-account-key"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY= ""pk_test_51PdpqkFIXur7BzE6SuPMLAwwZNpA5IuEljSSYOJ7PfxgGZd8mvjmwhvYkLIjEMYg5VUDFlSs725OvlJbiWbqq37E00YqxYh4uv"
STRIPE_SECRET_KEY= ""sk_test_51PdpqkFIXur7BzE6sLg5QTatzzzDBlmzZYKesWC0a4hDKPtcYqOgDITN9AxpgyEqxULTIenoWibUFGtH2wJLmt4900SQPDTNcV"
FIREBASE_SERVICE_ACCOUNT_KE= {
    "type": "service_account",
    "project_id": "your-project-id",
    "private_key_id": "your-private-key-id",
    "private_key": "-----BEGIN PRIVATE KEY-----\nYOUR-PRIVATE-KEY\n-----END PRIVATE KEY-----\n",
    "client_email": "firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com",
    "client_id": "your-client-id",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xxxxx%40your-project-id.iam.gserviceaccount.com"
}
EMAILJS_SERVICE_ID="service_avkf9he",
EMAILJS_TEMPLATE_ID="template_nbyqvv2",
EMAILJS_USER_ID="user_rsHoQJDIOYVWTiqqscIAq"