@import 'variables';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
text-align: center;
padding: 20px;
}

select {
    padding: .5em;
    font-size: 1em;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #333;
    outline: none;
    width: 50%;

    &:focus {
        border-color: $blueLight;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

option {
    background-color: #fff;
    color: #333;
    padding: 1em !important;

    &:hover {
        background-color: #f1f1f1;
    }
}

button {
    padding: .8em 1.5em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: $blueLight;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: $blueDark;
    }
}

.customSelectContainer {
    position: relative;
    width: 50%;

    .customSelectTrigger {
        padding: .5em;
        font-size: 1em;
        border-radius: 5px;
        background-color: #f8f8f8;
        color: #333;
        border: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:after {
            content: '▼';
            margin-left: auto;
            padding-left: .8em;
        }
    }

    .customOptions {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-height: 12em;
        overflow-y: auto;
        z-index: 10;

        .customOption {
            padding: .5em;
            background-color: #fff;
            color: #333;
            cursor: pointer;

            &:hover {
                background-color: $blueDark;
                color: white;
            }
        }
    }

    .customSelect.open .customOptions {
        display: block;
    }
}


.deleteButton {
    position: absolute;
    top: 5%;
    right: 0;
    padding: .3em .5em;
    margin: .3em;
    background-color: $redLight;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    &:hover {
        background-color: $redDark;
    }
}