@import 'variables';


.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1.5em;

    &__addSection {
        margin-bottom: 1.5em;
    }

    &__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 1.5em;
    }
}


.presentation {
    margin-top: 1.5em;
    padding: 1.5em;
    background-color: #f9f9f9;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
        color: $blueDark;
        font-size: 2.5em;
        margin-bottom: 1.5em;
    }

    h2 {
        color: $blueDark;
        font-size: 2em;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    p {
        font-size: 1.2em;
        line-height: 1.6em;
        margin-bottom: 1.5em;
    }

    ul {
        list-style-type: disc;
        margin-left: 1.5em;

        li {
            font-size: 1.2em;
            line-height: 1.6em;
            margin-bottom: 1em;
        }
    }
}
