@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: auto;
    width: 80%;
    &__header {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        &__section {
            margin: auto;
            h1 {
                color: 	$redLight;
            }
        }
        
        &__login {
            
            display: flex;
            align-items: flex-end;
            padding: 10px;
            margin-top: 0;
            margin-bottom: auto;
            input {
                padding: 5px;
                margin-right: 10px;
            }
            button {
                padding: 5px 10px;
                margin-left: 1em;
            }
        }
    }
}

.sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}