.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: auto;
    width: 80%;
    border: 1px solid red;
    &__header {
        margin: auto;
        h1 {
            color: red;
        }
    }
}

.sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid blue;
}