.section {
    border: 2px solid #2866AE;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #2866AE;
    margin: 10px;
    padding: 10px;
    flex: 1;
    position: relative;

    h2 {
        color: #2866AE;
        margin-top: 0;
    }

}
.deleteSection {
    position: absolute;
    right: 1%;
}